:root {
  --picker-height: 15rem;
  --selected-region-height: 4rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

.picker {
  position: relative;
  width: 100%;
  height: var(--picker-height);
  /* background-color: rgb(92, 74, 74); */
  background-color: black;
  color: rgb(255, 255, 255);
  overflow: none;
}

.picker > .selects {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  height: 100%;
}

.picker ul {
  text-align: center;
  filter: grayscale(50%);
  list-style-type: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  cursor: grab;
  /* hide scroll bar for firefox */
  scrollbar-width: none;
}

/* hide scroll bar for other browser */
.picker ul::-webkit-scrollbar {
  display: none;
}


.picker ul:active {
  cursor: grabbing;
}

.picker ul::before,
.picker ul::after {
  content: '';
  display: block;
  height: var(--picker-height);
}


.picker li {
  scroll-snap-align: center;
  margin: calc(var(--selected-region-height) / 2) 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.upper-region,
.lower-region {
  backdrop-filter: brightness(50%);
  position: absolute;
  width: 100%;
  height: calc((var(--picker-height) - var(--selected-region-height)) / 2);
  pointer-events: none;
}

.upper-region {
  top: 0;
  left: 0;
}

.lower-region {
  top: calc(50% + var(--selected-region-height) / 2);
  left: 0;
}

.selected-region {
  backdrop-filter: brightness(100%);
  position: absolute;
  top: calc(50% - var(--selected-region-height) / 2);
  left: 0;
  width: 100%;
  height: var(--selected-region-height);
  pointer-events: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
